body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 5px 15px rgb(5,0,0);
}

.card img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #333;
}

.card h2 {
    margin: 10px 0;
}

.card p {
    color: black;
}
.buttons {
    margin-top: 15px;
}

.buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

.follow {
    background-color: #ff8c66;
    color: white;
}

.message {
    background-color: transparent;
    border: 2px solid #ff8c66;
    color: #ff8c66;
}

.follow:hover {
    background-color: transparent;
    border: 2px solid #ff8c66;
    color: #ff8c66;
}
.message:hover {
    background-color: #ff8c66;
    color: white;
}
